#topbar {
    box-shadow: 0 0.125rem 1rem #00000014;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    height: 3.5rem;
    align-items: stretch;
    padding: 0 1.25rem;
    background-color: var(--surface-overlay);
}

#topbar-side {
    display: none;

    .logo {
        margin-right: 24px;
        height: 50%;
        display: flex;
        filter: saturate(1.5);
    }
}

#side-menu {

    .nav-group {
        margin-top: 2em;
    }

    .nav-group-header {
        margin-left: 4px;
        padding-left: 2rem;
        color: var(--gray-400);
    }

    .nav-item:has(.active-link) {
        border-left: 4px solid var(--primary-700);
    }

    .nav-item {
        border-left: 4px solid #fff;
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .nav-item-label {
            font-size: 16px;
        }

        .icon {
            margin-right: 1em;
        }

        .nav-item-link {
            --tui-link: var(--gray-500) !important;
            --tui-link-hover: var(--primary-300) !important;
        }

        .active-link {
            color: var(--primary-700);
        }

    }
}

.topbar-group {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    .logo {
        margin-right: 24px;
        height: 50%;
        display: flex;
        filter: saturate(1.5);
    }

    .nav-item {
        margin: 0;
        margin-right: 24px;
        position: relative;
        padding: 0;
        height: 100%;

        .nav-item-link {
            align-items: center;
            display: flex;
            height: 100%;
            font-size: 16px;
        }

        .nav-item-link {
            --tui-link: var(--gray-500) !important;
            --tui-link-hover: var(--primary-300) !important;
        }

        .active-link {
            color: var(--primary-700);
        }
    }

    .nav-item::after {
        background-color: var(--primary-700);
        content: "";
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 100%;
        transition: transform .15s, opacity .15s;
        transform: translateY(-100%);
    }

    .nav-item:hover::after {
        opacity: 1;
        transform: translateY(-100%);
    }

    .nav-item:has(.active-link)::after {
        background-color: var(--primary-700);
        content: "";
        height: 2px;
        left: 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 100%;
        transition: transform .15s, opacity .15s;
    }

    .nav-item:has(.active-link):hover::after {
        background-color: var(--primary-900);
    }

    .nav-item {
        transition: 0.5s;
    }
}


@media all and (max-width: 768px) {
    #topbar {
        height: 3rem;
    }
    #topbar-side {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }

    .topbar-group {
        display: none;
    }
}